<!DOCTYPE html>
<html>

<head>
    <title>Emotion Detection</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/script.js"></script>
</head>

<body>
    <div class="container">
        <div class="box">
            <h1>Image Emotion Detection</h1>
            <div class="row">
                <div class="col">
                    <form method="post" action="{{ url_for('detect_emotion') }}" enctype="multipart/form-data">
                        <h3>Upload an Image</h3>
                        <input type="file" id="image" name="image" accept="image/*">
                        <input type="submit" value="Detect Emotion">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>



